.NavBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35vw;
}

.NavBar-anon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
}